body {
    margin-right: 1em;
    margin-left: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
}

small {
    font-size: 80%;
}

sup {
    font-size: 80%;
}

div.content p {
    font-size: 100%;
    margin-top: 0em;
    margin-bottom: 0em;
    margin-left: 0em;
    text-indent: 1.5em;
    text-align: justify;
}

div.content code {
    white-space: pre-wrap;
}

div.content p:first-child {
    text-indent: 0em;
}

.title {
    font-size: 100%;
    margin-top: 2em;
    margin-bottom: 0em;
    margin-left: 0em;
    text-indent: 0em;
    text-align: center;
}

.toctitle {
    font-size: 300%;
    margin-top: 2em;
    margin-bottom: 1em;
    margin-left: 0em;
    text-indent: 0em;
    text-align: center;
}

.toc {
    font-size: 100%;
    margin-top: 0.8em;
    margin-bottom: 0em;
    margin-left: 0em;
    text-indent: 0em;
    text-align: justify;
}

.chaptitle {
    font-size: 220%;
    margin-top: 0em;
    margin-bottom: 2em;
    margin-left: 0em;
    text-indent: 0em;
    text-align: center;
}